<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<title>Super-Heróis</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>


	</head>
	<body>
		<%- include("comum/header",{tipo:"sobre"}) %>

		<section class="container">
			
			<div class="lista-herois">			
				<div class="jumbotron">
					<h1><%= herois.squadName %></h1>
					<h2><%= "Home-Town: " + herois.homeTown + " | Formed: " + herois.formed %></h2>
				</div>
				<div class=lista-herois>
					<div class="row">

   						<% for(var i=0; i<herois.members.length; i++) {%> 
						   <div class="col-md-4 col-sm-4">
						   		<h3><%= herois.members[i].name %></h3>
						   		<p>Idade: <%= herois.members[i].age %></p>
						   		<p>Identidade secreta: <%= herois.members[i].secretIdentity %></p>
						   		<p>Superpoderes:</p>
						   		<ul>
									<% for(var j=0; j<herois.members[i].powers.length; j++) {%> 
									   <li class="superpoderes"><%= herois.members[i].powers[j] %></li>
									<% } %>									   				
						   		</ul>
						   		
					   		</div>
						<% } %>

					</div>
				</div>
			</div>



		</section>
		<%- include("comum/footer") %>
		<%- include("comum/javascripts") %>
	</body>
</html>